.env
tokens.json
node_modules/
message_stats.json
send_messages.json

./OtherTool/*.env
gift_list.json
gift_map.json

*__pycache__

server_tokens.json
kick_tokens.json
youtube_tokens.json
OtherTool/live_engine/logs/live_engine.log
